# python:     https://www.python.org/downloads/release/python-31011/
# pycharm:   https://www.jetbrains.com/zh-cn/pycharm/download/#section=windows
# pip:            python -m ensurepip --default-pip
#                   https://bootstrap.pypa.io/get-pip.py
# other:        pip install -r requirements.txt -i http://mirrors.aliyun.com/pypi/simple --trusted-host  mirrors.aliyun.com

beautifulsoup4==4.12.3
cchardet==2.2.0a2
curl_cffi==0.6.4
Faker==21.0.0
pandas==2.2.3
Requests==2.32.3
openpyxl
lxml
